body {
	background-image: url(../images/Star_Wars_wallpaper.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

.main-section-title {
	text-align: center;
}

.character {
	display: inline-block;
}

.character-name {
	text-align: center;
	color: white;
	padding: 20px;
}

.character-health {
	text-align: center;
	color: white;
	padding: 20px;
}